{% extends "base.html" %}

{% block contenido %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ 'danger' if category == 'error' else 'danger' }} alert-dismissible fade show"
    role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<form method="post" id="registro" action="/buscar">
  <div class="mb-3">
    <label for="input" class="form-label">Pokemon</label>
    <input type="text" autocomplete='off' class="form-control" name="name" id="name" required>
  </div>
  <button type="submit" class="btn btn-primary">Subir</button>
</form>
{% endblock %}